@{
    ViewData["Title"] = "Home - QuizMatics";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QuizMatics!</h1>
    <p>Explore quizzes, track progress, and enhance your learning experience.</p>
    <!-- <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
